/* @media(min-width:425px){
    .content .demo{
        display: block;
    }
    .pin{
        display: none;
    }
    .location{
        display: none
    }
    .search{
        width: 100%;
        display: none;
    }
    } */

body{
    width: 100%;
}

.cart1{
    grid-template-columns: repeat(3,1fr);
    column-gap: 10;
}
.animation-placeholder{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-80%);
    font-size: 16px;
    line-height: 23px;
    color: #878787;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}

@keyframes changeValue{
    0%{transform: translateY(-50%);opacity: 1;}
    100%{transform: translateY(-150%);opacity: 0;}

}
@keyframes inchangeValue{
    0%{transform: translateY(50%);opacity: 0;}
    100%{transform: translateY(-50%);opacity: 1;}

}
.line:hover{
    text-decoration: underline;
}
.indicator{
    margin-top: 20px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 4px;
   
}
.indicator h2{
    color: gray;
    font-size: 17px;
    margin-top: 10px;
    padding-left: 10px;

}
#wrapper{
    height: 30vh;
    display: flex;
    border-radius: 10px;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

   
}
#wrapper i{
    font-size: 25px;
    pointer-events: none;
}
#image-container{
    height: 100%;
    overflow: hidden;
    padding: 0px 30px;
}
#image-carousel{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 90px;
    /* position: relative; */
}

#image-carousel img{
    height: 100px;
    width: 150px;
 }
.indicator-btn{
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.banner1,.banner2{
    margin-top: 15px;
    border-radius: 4px;
    width: 100%;
}
.banner1 img{
    width: 100%;
    object-fit: cover;
}
.banner2 img{
    width: 100%;
    object-fit: cover;
}
.shopping
{
    position: relative;
    text-align: right;
}

.shopping .cart-logo{
    width: 40px;
}
.shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 40%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.card{
    /* position: fixed; */
    top: 0;
    /* background-color: #453e3b; */
    transition: 0.5s;
}
.card h1{
    color: goldenrod;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card .checkout div{
    background-color: goldenrod;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkout div:nth-child(2){
    background-color: red;
    color: #fff;
}
.active .card{
    left: calc(100%-500px);
}
.list .item{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 50px 50px #dbdbdb;
    letter-spacing: 1px;
    border-radius: 5px;
}
.list .item img{
    width: 70%;
}

.list .item .title{
    font-weight: 800;
}
.list .item .desc{
    font-weight: 400;
}
.list .item .price{
    margin: 10px;
    font-weight: 500;

}
.list .item button{
    background-color: goldenrod;
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
}
.listCard{
    margin-bottom: 60PX;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    row-gap: 10px;
    margin-bottom: 20px;

}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 70%;
}
.listCard button{
    width: auto;
    background-color: #fff5;
    border: none;
    font-size: 20px;
    font-weight: 600;

}
.listCard .count{
    margin: 0 10px;
}
#top{
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s,opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#top::after{
    content:"";
    font-family: serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#top:hover{
    cursor: pointer;
    background-color: #333;
}
#top:active{
    background-color: #555;
}
#top.show{
    opacity: 1;
    visibility: visible;
}
.banner3{
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}
.banner4{
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid grey;

}
.banner4 img{
    width: 100%;
    object-fit: cover;
    padding: 10px;

}
.banner5{
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
   

}
.banner5 img{
    padding: 10px;
    width: 95%;
    transform: scale(0.9,0.9);
    transition: transform 0.3s ease-in;
}
.banner5 img:hover{
    transform: scale(1,1);
}

.banner-6{
    border-bottom: 1px solid grey;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-around;

}
.banner6-1{
    list-style: none;
    padding: 15px;


}
.play{
    height: 40px;
    width: 150px;
    border: none;
    margin-right: 4px;
}
.EqOGY
{
    width: 39px;
    height: 20px;
    margin-right: 4px;
}
.banner6-2{
    list-style: none;
}
.banner6-2 li{
    padding-top: 10px;
}
.banner6-2 li:hover{
    cursor: pointer;
    text-decoration: underline;
}

